<div class="container-fluid" id="allPrescriptionsNotInOrdersContainer">
	<div class="wrapper d-none">
		<h1 class="title-medium"><%= UI_DISPLAY_LANG.views.pages.all_prescriptions.sectionTitle %></h1>
	</div>
	<div class="alert alert-info mt-3 mb-2" style="display:none;" id="ERROR_BOX">
		<img src="assets/img/utils/info.png" class="alert-icon" alt="">
		<div class="alert-text" id="text"></div>
	</div>
    <div class="my-2">
        <button class="btn btn-success btn-sm shadow back-button" data-name="create-prescriptions" data-perm="create_prescription">
            <%= UI_DISPLAY_LANG.views.pages.global.back_button %>
        </button>
    </div>
	<div class="mt-3 WRAPPER" id="wrapper01">
		<div class="table-nav">

			<div class="row gx-4 gy-3 mb-2">

				<div class="col-lg-3 col-md-6 col-sm-12">
					<%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/searchbox.template.ejs`, {
                        searchBtnId: 'search_btn',
                        searchInputId: 'search_input',
                    }) -%>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12">
					<%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/start-end-date.template.ejs`, {
                        dateStartId: 'date_start_input',
                        dateEndId: 'date_end_input',
                    }) -%>
				</div>
                <div class="col-lg col-md col-sm-12">
                    <div class="fs-20 mb-2">
                        <span class="fw-700"><%= UI_DISPLAY_LANG.views.pages.global.text22 %>:</span> <span class="text-success" id="presc_total">0</span>
                    </div>
                    <ul class="list-group list-group-flush" id="presc_extra_data_list">
                        <!-- <li class="list-group-item">An item</li> -->
                    </ul>
                </div>

			</div>

            <div class="row">

                <div class="col-lg-3 col-md-6 col-sm-12">
					<%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/select-centers.template.ejs`, {
                        eventsReceiverId: 'allPrescriptionsInOrdersContainer',
                    }) -%>
				</div>

            </div>

		</div>
		<div id="pagination" class="my-3 flex flex-center"></div>
		<div class="row gx-4 gy-3" id="tableElement">
			<!--
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="card hover-shadow" data-role="APT" data-aptid="" style="cursor: pointer;">
					<div class="card-body no-pointer">
						<div class="h5">قسم الحجامة</div>
						<div class="text-02">(4) جلسات</div>
					</div>
				</div>
			</div>
			-->
		</div>
	</div>
</div>

<script>

$(async function()
{

var page_container = $('#allPrescriptionsNotInOrdersContainer');

var ERROR_BOX = page_container.find('#ERROR_BOX');
var deleteSelectedBTN = page_container.find('#deleteSelectedBTN');
var pagination = page_container.find('#pagination');
var tableElement = page_container.find('#tableElement');

var search_input = page_container.find('#search_input');
var search_btn = page_container.find('#search_btn');
var date_start_input = page_container.find('#date_start_input');
var date_end_input = page_container.find('#date_end_input');
var select_centers_template_center_select = page_container.find('#select_centers_template_center_select')

var presc_total = page_container.find('#presc_total');
var presc_extra_data_list = page_container.find('#presc_extra_data_list');

var tableElement5 = page_container.find('#tableElement5');

var contentsWrapper = page_container.find('#contentsWrapper');
var changedSettingsWrapper = page_container.find('#changedSettingsWrapper');
var backBTN = changedSettingsWrapper.find('#backBTN');

var BACK_TO_MAIN_UI_BTN = page_container.find('[data-role="BACK_TO_MAIN_UI_BTN"]');

var wrapper01 = page_container.find('#wrapper01');

var PrescObject = {
    prescriptionId: null,
    query: sessionData().query
}

date_start_input.val(CURRENT_DATE)
date_end_input.val(CURRENT_DATE)
// clear session data
sessionData(true)
// back to main ui
BACK_TO_MAIN_UI_BTN.off('click');
BACK_TO_MAIN_UI_BTN.on('click', e =>
{
	wrapper01.slideDown(200).siblings('.WRAPPER').slideUp(200);
});
// tableElement click
tableElement.off('click');
tableElement.on('click', async e =>
{
	var target = $(e.target);
	if ( target.data('role') == 'UPDATE' )
    {
        var parent = target.closest('[data-role="PRESC"]')
        var prescriptionId = target.data('prescid');
        goToPage('create-prescriptions', {
            prescriptionId: prescriptionId,
            patientId: parent.data('patient-id'),
            patientName: parent.data('patient-name')
        })
        //rebindEvents();
    }
    else if ( target.data('role') == 'CREATE_PRIVATE_APT' )
    {
        var patientId = target.data('patientid');
        goToPage('create-private-appointments', {
            patientId: patientId
        })
        //rebindEvents();
    }
    else if ( target.data('role') == 'PRINT' )
    {
        var parent = target.closest('.card')
        var prescriptionId = parent.data('prescid');
        // loader
        SectionLoader(target.closest('.card'));
        var response = await PRESCRIPTION_MODEL.show(prescriptionId);
        // loader
        SectionLoader(target.closest('.card'), '');
        var data = response.data;
        // console.log(data)

        var presc_element = createFakeElement('FAKE_CONTAINER', await (getPage('../views/prints/prescription-page.ejs')) ).find('.prescription-print')

        presc_element.find('#presc_date').text(CURRENT_DATE)
        presc_element.find('#patient_first').text(data.patient.patientName)
        presc_element.find('#patient_age').text(data.patient.patientAge)
        var centerData = checkJSON( decodeURIComponent( atob( select_centers_template_center_select.find(':selected').data('object') ) ) )
        presc_element.find('#center_stamp').attr('src', centerData.clinicStamp)

        var meds_html = ''

        $.each(data.medicines, (k,v) =>
        {
            meds_html += `<li style="font-size:10px;">
                            <span class="d-inline-block" style="vertical-align: middle;">${v.medName}</span>
                            <span class="d-inline-block" style="vertical-align: middle;">${v.medDose}</span>
                            <span class="d-inline-block" style="vertical-align: middle;">${v.medDuration}</span>
                            <span class="d-inline-block" style="vertical-align: middle;">${v.medQuantity}</span>
                        </li>`
        })

        presc_element.find('#medicines_list').html(meds_html)

        printHTMLToPdf( presc_element[0].outerHTML, {
            width: 0,
            height: 0,
            top: 10000,
            left: 10000,
            page: {
                size: 'A5',
                margin: '-5cm -1cm -2cm -1cm'
            }
        } )
    }
    else if ( target.data('role') == 'PRINT_MEDICAL_ANALYSIS' )
    {
        var prescriptionId = target.data('prescid');
        SectionLoader(target.closest('.card'));
        var res = await PRESCRIPTION_MODEL.show(prescriptionId);
        // loader
        SectionLoader(target.closest('.card'), '');

        var html = await getPage('../views/prints/medical-analysis-page.ejs')

        goToPage('print-medical-analysis', {
            patient: res.data.patient,
            html: html
        })

    }
    else if ( target.data('role') == 'PREVIEW' )
    {
        var parent = target.closest('.card')
        var prescriptionId = parent.data('prescid');
        // loader
        SectionLoader(target.closest('.card'));
        var response = await PRESCRIPTION_MODEL.show(prescriptionId);
        // loader
        SectionLoader(target.closest('.card'), '');
        var data = response.data;

        var print_button_html = `<a href="#" id="print_prescription_button">${FUI_DISPLAY_LANG.views.pages.global.print_}</a>`

        var presc_element = createFakeElement('FAKE_CONTAINER', await (getPage('../views/prints/prescription-page.ejs')) ).find('.prescription-print')

        presc_element.addClass('pb-5')
        presc_element.prepend(print_button_html)
        presc_element.css('margin-left', 'auto').css('margin-right', 'auto')
        presc_element.find('#presc_date').text(CURRENT_DATE)
        presc_element.find('#patient_first').text(data.patient.patientName)
        presc_element.find('#patient_age').text(data.patient.patientAge)

        var centerData = checkJSON( decodeURIComponent( atob( select_centers_template_center_select.find(':selected').data('object') ) ) )
        presc_element.find('#center_stamp').attr('src', centerData.clinicStamp)

        var meds_html = ''

        $.each(data.medicines, (k,v) =>
        {
            meds_html += `<li class="">
                            <div class="mb-2 d-inline-block">
                                <span class="d-inline-block" style="vertical-align: middle;">${v.medName}</span>
                                <span> / </span>
                                <span class="d-inline-block" style="vertical-align: middle;">${v.medQuantity}</span>
                            </div>
                            <div class="">
                                <span class="d-inline-block" style="vertical-align: middle; margin-left: 2em;">${v.medDose}</span>
                            </div>
                        </li>`
        })

        presc_element.find('#medicines_list').addClass('has-direction-ltr has-text-left')
        presc_element.find('#medicines_list').html(meds_html)
        
        var dialog = new FullpageDialog({
            title: FUI_DISPLAY_LANG.views.pages.global.preview_document,
            html: presc_element[0]
        })

        const print_prescription_button = dialog.getElement().find('#print_prescription_button')

        print_prescription_button.off('click').on('click', e =>
        {
            e.preventDefault()

            parent.find('[data-role="PRINT"]').trigger('click')
        })
    }

});
// delete
deleteSelectedBTN.off('click');
deleteSelectedBTN.on('click', e =>
{
	PromptConfirmDialog().then(c =>
	{
		SectionLoader(wrapper01);
		PRESCRIPTION_MODEL.batchDelete( getSelectedRows() ).then(response =>
		{
			// hide loader
			SectionLoader(wrapper01, '');
			if ( response.code == 404 )
			{
				ERROR_BOX.show(0).delay(7*1000).hide(0)
				.find('#text').text(response.message);
				return;
			}
			ERROR_BOX.show(0).delay(7*1000).hide(0)
			.find('#text').text(response.message);
			//
			displayAll();
		});
	});
});
// search
search_btn.on('click', e =>
{
    displayAll({
        method_type: 'center_not_in_orders_local_search',
        clinicId: select_centers_template_center_select.find(':selected').val(),
        query: search_input.val(),
        advanced: {
            start: date_start_input.val(),
            end: date_end_input.val()
        }
    });
})
search_input.on('keyup', e =>
{
    displayAll({
        method_type: 'center_not_in_orders_local_search',
        clinicId: select_centers_template_center_select.find(':selected').val(),
        query: search_input.val(),
    });
    
});
select_centers_template_center_select.on('change', e =>
{
    displayAll({
        method_type: 'center_not_in_orders_local_search',
        clinicId: select_centers_template_center_select.find(':selected').val(),
        query: search_input.val(),
    });
})
// display all
async function displayAll(params)
{
    // total
    presc_total.text(0)

    presc_extra_data_list.html('')
    SectionLoader(tableElement)
    tableElement.html('')
    if ( params.method_type == 'center_not_in_orders_local_search' )
        var res = await PRESCRIPTION_MODEL.center_not_in_orders_local_search(params)

    SectionLoader(tableElement, '')
    if ( res.code == 404 ) return;

    var data = res.data;
    var html = '';
    var last_data = firstArrayElement(data)
    // total
    presc_total.text(data.length)
    $.each(data, (k,v) =>
    {
        var medicines = (v.medicines) ? v.medicines.length : 0;

        html+= `<div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card hover-shadow" data-role="PRESC" data-prescid="${v.prescriptionId}" data-patient-id="${v.patientId}" data-patient-name="${v.patientName}" style="cursor: pointer;">
                        <div class="pt-2 px-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" data-role="CHECK" data-prescid="${v.prescriptionId}" value="" id="flexCheckDefault_${v.prescriptionId}">
                                <label class="form-check-label" for="flexCheckDefault_${v.prescriptionId}">
                                    ${FUI_DISPLAY_LANG.views.pages.global.select}
                                </label>
                            </div>
                        </div>
                        <div class="card-body no-pointer">
                            <div class="h5">${FUI_DISPLAY_LANG.views.pages.global.created_by}: ${v.employee_name}</div>
                            <span class="text-02">${FUI_DISPLAY_LANG.views.pages.global.for_}:  ${v.patientName}</span>
                            <div class="text-04">${FUI_DISPLAY_LANG.views.pages.global.attributes.medicines}: (${medicines})</div>
                            <div class="text-muted mt-2">${FUI_DISPLAY_LANG.views.pages.global.created_at}: ${v.prescriptionDate} | ${v.prescriptionTime}</div>
                            <div class="mt-2">
                                <div class="alert alert-info alert-1 d-inline-block">
                                    ${FUI_DISPLAY_LANG.views.pages.global.prescription_directions[v.prescriptionDirection]}
                                </div>
                            </div>
                        </div>
                        <div class="py-2 px-2">
                            <a class="d-inline-block mx-2 text-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                ${FUI_DISPLAY_LANG.views.pages.global.more}
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#" class="dropdown-item" data-role="PRINT" data-perm="print_prescription" data-patientid="${v.patientId}" data-prescid="${v.prescriptionId}">${FUI_DISPLAY_LANG.views.pages.global.print_}</a>
                                </li>
                                <li>
                                    <a href="#" class="dropdown-item" data-role="PREVIEW" data-perm="preview_prescriptions" data-patientid="${v.patientId}" data-prescid="${v.prescriptionId}">${FUI_DISPLAY_LANG.views.pages.global.preview}</a>
                                </li>
                            </ul>
                            <a href="#" class="d-inline-block text-dark" data-role="UPDATE" data-perm="update_prescription" data-prescid="${v.prescriptionId}">
                                <i class="fas fa-edit no-pointer"></i>
                            </a>
                        </div>
                    </div>
                </div>PAG_SEP`;	
        
    });
    // add html
    var options = {
        data: html.split('PAG_SEP'),
        resultsPerPage: 9
    };
    new SmoothPagination(pagination, tableElement, options);
    // extra data
    presc_extra_data_list.html(`
        <li class="list-group-item">
            <span class="fw-500">${ FUI_DISPLAY_LANG.views.pages.global.text36 }: </span>
            <span>${FUI_DISPLAY_LANG.views.pages.global.for_} </span>
            <span>${last_data.patientName}, </span>
            <span class="text-primary">${last_data.prescriptionDate} ${last_data.prescriptionTime}</span> 
        </li>
        <li class="list-group-item">
            <span class="fw-500">${ FUI_DISPLAY_LANG.views.pages.global.text39 }: </span>
            <span>${last_data.prescriptionNote} </span>
        </li>
    `)
}
// get selected
function getSelectedRows()
{
	var list = [];
	var checks = tableElement.find('[data-role="CHECK"]');
	for (var i = 0; i < checks.length; i++) 
	{
		var check = $(checks[i]);
		if ( check.is(':checked') )
			list.push({ prescriptionId: check.data('prescid') });
	}

	return list;
}

})

</script>