<div class="container-fluid" id="allReportsContainer">
	<div class="wrapper d-none">
		<h1 class="title-medium"><%= UI_DISPLAY_LANG.views.pages.all_reports.sectionTitle %></h1>
	</div>
	<div class="alert alert-info mt-3 mb-2" style="display:none;" id="ERROR_BOX">
		<img src="assets/img/utils/info.png" class="alert-icon" alt="">
		<div class="alert-text" id="text"></div>
	</div>
	<div class="mt-3 app-block">
		<div class="table-nav">
			<div class="row gx-4 gy-3">
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="form-field-01">
						<div class="form-field-icon-holder" id="searchBTN">
							<img src="assets/img/utils/search.svg" class="form-field-icon" alt="">	
						</div>
						<div class="form-field-input-holder">
							<input type="text" id="searchInput" class="form-field-input" placeholder="<%= UI_DISPLAY_LANG.views.pages.all_reports.ph01 %>">
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="form-field-01">
						<div class="form-field-input-holder">
							<div class="form-field-label"><%= UI_DISPLAY_LANG.views.pages.all_reports.text01 %></div>
							<input type="date" id="fromDateInput" class="form-field-input">
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="form-field-01">
						<div class="form-field-input-holder">
							<div class="form-field-label"><%= UI_DISPLAY_LANG.views.pages.all_reports.text02 %></div>
							<input type="date" id="toDateInput" class="form-field-input">
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<button class="btn btn-danger btn-sm" id="deleteSelectedBTN">
						<%= UI_DISPLAY_LANG.views.pages.all_reports.btn01 %>
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="mt-3 app-block WRAPPER" id="wrapper01">
		<div id="pagination" class="my-3 flex flex-center"></div>
		<div class="table-div">
			<div class="utable separate-rows" id="tableElement">
				<div class="thead">
					<div class="td">#</div>
					<div class="td"><%= UI_DISPLAY_LANG.views.pages.all_reports.th01 %></div>
					<div class="td"><%= UI_DISPLAY_LANG.views.pages.all_reports.th02 %></div>
					<div class="td"><%= UI_DISPLAY_LANG.views.pages.all_reports.th03 %></div>
					<div class="td"><%= UI_DISPLAY_LANG.views.pages.all_reports.th04 %></div>
					<div class="td"></div>
				</div>
				<div class="tbody">
					<!--
					<div class="tr">
						<div class="td">
							<input type="checkbox" class="form-check-input" data-role="CHECK" data-reportid="${v.report_id}">
						</div>
						<div class="td">${v.patientName}</div>
						<div class="td">${v.report_doctor}</div>
						<div class="td">${v.report_name}</div>
						<div class="td">${v.report_date} | ${v.report_time}</div>
					</div>
					-->
				</div>
			</div>
		</div>
	</div>
	<div class="mt-3 app-block WRAPPER" id="wrapper02" style="display: none;">
		<button class="btn btn-light btn-sm mb-4" data-role="BACK_TO_MAIN_UI_BTN" style="width:120px;">
			<i class="fas fa-arrow-left"></i>
		</button>
		<div id="reportInfoDiv">
			<!--
			<div class="text-04 mb-2">(عدواني عبد النور)</div>
			<h1 class="text-01 mb-3">ما هو "لوريم إيبسوم" ؟</h1>
			<p class="text-03 border-bottom p-2 rounded">
				لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. كان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ القرن الخامس عشر عندما قامت مطبعة مجهولة برص مجموعة من الأحرف بشكل عشوائي أخذتها من نص، لتكوّن كتيّب بمثابة دليل أو مرجع شكلي لهذه الأحرف. خمسة قرون من الزمن لم تقضي على هذا النص، بل انه حتى صار مستخدماً وبشكله الأصلي في الطباعة والتنضيد الإلكتروني. انتشر بشكل كبير في ستينيّات هذا القرن مع إصدار رقائق "ليتراسيت" (Letraset) البلاستيكية تحوي مقاطع من هذا النص، وعاد لينتشر مرة أخرى مؤخراَ مع ظهور برامج النشر الإلكتروني مثل "ألدوس بايج مايكر" (Aldus PageMaker) والتي حوت أيضاً على نسخ من نص لوريم إيبسوم.
			</p>
			-->
		</div>
	</div>
</div>