<span class="pointer">
    <div class="form-field-01 mb-3">
        <div class="form-field-input-holder">
            <div class="form-field-label"><%= UI_DISPLAY_LANG.views.pages.global.label5 %></div>
            <input type="date" id="<%= locals.dateStartId ? locals.dateStartId : 'date_start_input' %>" class="form-field-input">
            <div class="form-field-reset">
                <a href="#">
                    <i class="fas fa-redo"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="form-field-01 mb-2">
        <div class="form-field-input-holder">
            <div class="form-field-label"><%= UI_DISPLAY_LANG.views.pages.global.label6 %></div>
            <input type="date" id="<%= locals.dateEndId ? locals.dateEndId : 'date_end_input' %>" class="form-field-input">
            <div class="form-field-reset">
                <a href="#">
                    <i class="fas fa-redo"></i>
                </a>
            </div>
        </div>
    </div>

    <script>

        $(function() 
        {

            var dateStartId = (`<%- locals.dateStartId %>` == '' || `<%- locals.dateStartId %>` == null) ? 'date_start_input' : `<%- locals.dateStartId %>`
            var dateEndId = (`<%- locals.dateEndId %>` == '' || `<%- locals.dateEndId %>` == null) ? 'date_end_input' : `<%- locals.dateEndId %>`

            var date_start_input = $(`#${dateStartId}`)
            var date_end_input = $(`#${dateEndId}`)

            var date_start_reset_button = date_start_input.next().find('a')
            var date_end_reset_button = date_end_input.next().find('a')

            // reset
            date_start_reset_button.off('click').on('click', e =>
            {
                e.preventDefault()

                date_start_input.val(null)
            })

            date_end_reset_button.off('click').on('click', e =>
            {
                e.preventDefault()

                date_end_input.val(null)
            })

        })

    </script>
</span>
