<div class="navbar-container" id="sideNavbarContainer">
	<div class="px-4 py-3 employee-info d-inline-flex flex-center w-100">
		<div class="text-center">
			<div class="text-01" id="EMPLOYEE_NAME" style="color: #c8bddd;"></div>
			<div class="text-02" id="EMPLOYEE_TYPE" style="color: #8883a3;font-size: 13px;"></div>
            <div class="text-01" id="CENTER_NAME" style="color: #8883a3;"></div>
		</div>
	</div>
	<div class="wrapper WRAPPER">
		<!--
		<div class="px-4 py-3 btn-close-holder">
			<button class="btn-close-1">
				&times;
			</button>
		</div>
		-->
		<ul class="nb-navmenu" id="nbNavMenu">
			<!--
			<li class="list-dropdown-toggle">
				<a href="" data-role="NAV_LINK">
					<span class="icon">
						<img src="assets/img/navbar/patients.png" alt="">
					</span>
					<span class="text"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav01 %></span>
				</a>
				<ul class="dropdown-list nb-navmenu shadow-01">
                    <li>
                        <a href="views/pages/add-patients.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav08 %></span>
                        </a>
                    </li>
                    <li>
                        <a href="views/pages/all-patients.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav07 %></span>
                        </a>
                    </li>
                </ul>
			</li>
			-->
			<li class="list-dropdown-toggle" data-perm="statistics">
				<a href="#" data-role="NAV_LINK">
					<span class="icon">
						<img src="assets/img/navbar/growth.png" alt="">
					</span>
					<span class="text"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav27 %></span>
				</a>
				<ul class="dropdown-list nb-navmenu shadow-01">
                    <li class="d-none">
                        <a href="views/pages/each-clinic-statistics.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav36 %></span>
                        </a>
                    </li>
                    <li class="d-none">
                        <a href="views/pages/products-stats.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav50 %></span>
                        </a>
                    </li>
                    <li class="d-none">
                        <a href="views/pages/revenue-and-accumulation.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav53 %></span>
                        </a>
                    </li>
                    <li>
                        <a href="views/pages/track-distributors-stats.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav108 %></span>
                        </a>
                    </li>
                </ul>
			</li>
			<li class="list-dropdown-toggle d-none" data-perm="messages">
				<a href="" data-role="NAV_LINK" class="position-relative">
					<span class="icon">
						<img src="assets/img/navbar/messages.png" alt="">
					</span>
					<span class="text"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav11 %></span>
					<span class="position-absolute translate-middle badge rounded-pill bg-danger" id="MESSAGES_BADGE">
					    0
					    <span class="visually-hidden">unread messages</span>
					</span>
				</a>
				<ul class="dropdown-list nb-navmenu shadow-01">
                    <li>
                        <a href="views/pages/send-message.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav12 %></span>
                        </a>
                    </li>
                    <li>
                        <a href="views/pages/send-private-message.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav114 %></span>
                        </a>
                    </li>
                    <li>
                        <a href="views/pages/inbox.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav13 %></span>
                        </a>
                        <a href="views/pages/sent.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav14 %></span>
                        </a>
                    </li>
                </ul>
			</li>
			<li class="list-dropdown-toggle" data-perm="treasury">
				<a href="" data-role="NAV_LINK">
					<span class="icon">
						<img src="assets/img/navbar/money-safe.png" alt="">
					</span>
					<span class="text"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav28 %></span>
				</a>
				<ul class="dropdown-list nb-navmenu shadow-01">
                    <li class="d-none" data-perm="send_to_center_treasury">
                        <a href="views/pages/add-to-treasury.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav66 %></span>
                        </a>
                    </li>
                    <li data-perm="change_treasury">
                        <a href="views/pages/add-to-central-admin-treasury.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav65 %></span>
                        </a>
                    </li>
                    <li class="d-none" data-perm="view_treasury_expenses">
                        <a href="views/pages/treasury-cashouts.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav67 %></span>
                        </a>
                    </li>
                    <li class="d-none" data-perm="view_treasury_expenses">
                        <a href="views/pages/treasury-cashouts-central-admin.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav68 %></span>
                        </a>
                    </li>
                    <li data-perm="view_treasury_distributor_expenses">
                        <a href="views/pages/treasury-distributors-expenses-central-admin.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav109 %></span>
                        </a>
                    </li>
                    <li class="d-none" data-perm="view_treasury_sent_expenses">
                        <a href="views/pages/treasury-sent-expenses.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav98 %></span>
                        </a>
                    </li>
                </ul>
			</li>
			<li class="list-dropdown-toggle" data-perm="products">
				<a href="" data-role="NAV_LINK">
					<span class="icon">
						<img src="assets/img/navbar/medicines.png" alt="">
					</span>
					<span class="text"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav21 %></span>
				</a>
				<ul class="dropdown-list nb-navmenu shadow-01">
                    <li data-perm="create_product">
                        <a href="views/pages/add-products.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav22 %></span>
                        </a>
                    </li>
                    <li data-perm="create_product">
                        <a href="views/pages/add-consommables.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav91 %></span>
                        </a>
                    </li>
                    <li data-perm="send_products_to_center">
                        <a href="views/pages/send-products-to-centers.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav52 %></span>
                        </a>
                    </li>
                    <li data-perm="send_products_to_center">
                        <a href="views/pages/send-consommables-to-centers.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav92 %></span>
                        </a>
                    </li>
                    <li data-perm="assign_products_to_distributor">
                        <a href="views/pages/send-products-to-distributors.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav104 %></span>
                        </a>
                    </li>
                    <li data-perm="view_products">
                        <a href="views/pages/all-products.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav23 %></span>
                        </a>
                    </li>
                    <li data-perm="view_products">
                        <a href="views/pages/all-consommables.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav93 %></span>
                        </a>
                    </li>
                    <li data-perm="view_center_products">
                        <a href="views/pages/all-centers-products.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav51 %></span>
                        </a>
                    </li>
                    <li data-perm="view_center_products">
                        <a href="views/pages/all-centers-consommables.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav94 %></span>
                        </a>
                    </li>
                    <li>
                        <a href="views/pages/all-distributors-invoices.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav105 %></span>
                        </a>
                    </li>
                    <li>
                        <a href="views/pages/all-centers-products-invoices.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav46 %></span>
                        </a>
                    </li>
                </ul>
			</li>
            <li class="list-dropdown-toggle" data-perm="suppliers">
                <a href="" data-role="NAV_LINK">
                    <span class="icon">
                        <img src="assets/img/navbar/suppliers.png" alt="">
                    </span>
                    <span class="text"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav83 %></span>
                </a>
                <ul class="dropdown-list nb-navmenu shadow-01">
                    <li data-perm="create_supplier">
                        <a href="views/pages/add-suppliers.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav84 %></span>
                        </a>
                    </li>
                    <li data-perm="view_suppliers">
                        <a href="views/pages/all-suppliers.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav85 %></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="list-dropdown-toggle" data-perm="distributors">
                <a href="" data-role="NAV_LINK">
                    <span class="icon">
                        <img src="assets/img/navbar/distributors.png" alt="">
                    </span>
                    <span class="text"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav101 %></span>
                </a>
                <ul class="dropdown-list nb-navmenu shadow-01">
                    <li data-perm="create_distributor">
                        <a href="views/pages/add-distributors.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav102 %></span>
                        </a>
                    </li>
                    <li data-perm="view_distributors">
                        <a href="views/pages/all-distributors.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav103 %></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="list-dropdown-toggle" data-perm="daily_reports">
				<a href="" data-role="NAV_LINK" class="position-relative">
					<span class="icon">
						<img src="../assets/img/navbar/report.png" alt="">
					</span>
					<span class="text"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav118 %></span>
				</a>
				<ul class="dropdown-list nb-navmenu shadow-01">
                    <li data-perm="create_daily_report">
                        <a href="../views/pages/centers/daily-reports/create.ejs" data-name="create-daily-reports" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.pages.global.navs.nav2 %></span>
                        </a>
                    </li>
                    <li data-perm="update_daily_report">
                        <a href="../views/pages/centers/daily-reports/index.ejs" data-name="all-daily-reports" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.pages.global.navs.nav1 %></span>
                        </a>
                    </li>
                    <li data-perm="view_staff_daily_reports">
                        <a href="../views/pages/centers/daily-reports/staff/index.ejs" data-name="all-staff-daily-reports" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.pages.global.navs.nav3 %></span>
                        </a>
                    </li>
                </ul>
			</li>
			<li>
				<a href="#" class="" data-role="CHECK_FOR_UPDATES_NAV_LINK">
					<span class="icon">
						<img src="assets/img/navbar/update.png" alt="">
					</span>
					<span class="text"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav04 %></span>
				</a>
			</li>
			<li>
				<a href="../index.ejs" data-role="LOGOUT_NAV_LINK">
					<span class="icon">
						<img src="assets/img/navbar/logout.png" alt="">
					</span>
					<span class="text"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav05 %></span>
				</a>
			</li>
		</ul>
		<div class="copyright d-none">
			<p class="desc"><%= UI_DISPLAY_LANG.views.partials.sidebar.text01 %></p>
			<p class="desc"><%= UI_DISPLAY_LANG.views.partials.sidebar.text02 %></p>
			<small>0699666569</small>
			<br>
			<small>0663650688</small>
		</div>
	</div>
</div>