<div class="container-fluid" id="allPatientMedicalAnalysisContainer">
	<div class="wrapper d-none">
		<h1 class="title-medium"><%= UI_DISPLAY_LANG.views.pages.all_prescriptions.sectionTitle %></h1>
	</div>
	<div class="alert alert-info mt-3 mb-2" style="display:none;" id="ERROR_BOX">
		<img src="assets/img/utils/info.png" class="alert-icon" alt="">
		<div class="alert-text" id="text"></div>
	</div>
    <div class="my-2">
        <button class="btn btn-success btn-sm shadow back-button" data-name="create-patient-medical-analysis" data-perm="create_patient_medical_analysis">
            <%= UI_DISPLAY_LANG.views.pages.global.back_button %>
        </button>
    </div>
	<div class="mt-3 app-block WRAPPER" id="wrapper01">
		<div class="table-nav">
			<div class="row gx-4 gy-3">
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="form-field-01">
						<div class="form-field-icon-holder" id="searchBTN">
							<img src="assets/img/utils/search.svg" class="form-field-icon" alt="">	
						</div>
						<div class="form-field-input-holder">
							<input type="text" id="searchInput" class="form-field-input" placeholder="<%= UI_DISPLAY_LANG.views.pages.global.placeholder5 %>">
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="form-field-01">
						<div class="form-field-input-holder">
							<div class="form-field-label"><%= UI_DISPLAY_LANG.views.pages.global.label5 %></div>
							<input type="date" id="date_start_input" class="form-field-input">
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="form-field-01">
						<div class="form-field-input-holder">
							<div class="form-field-label"><%= UI_DISPLAY_LANG.views.pages.global.label6 %></div>
							<input type="date" id="date_end_input" class="form-field-input">
						</div>
					</div>
				</div>
                <div class="col-lg-4 col-md-6 col-sm-12" data-perm="delete_patient_medical_analysis">
					<button class="btn btn-danger btn-sm" id="deleteSelectedBTN">
						<%= UI_DISPLAY_LANG.views.pages.global.delete_selected_button %>
					</button>
				</div>
			</div>
		</div>
		<div id="pagination1" class="my-3 flex flex-center"></div>
		<div class="row gx-4 gy-3" id="tableElement1">
			<!--
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="card hover-shadow" data-role="APT" data-aptid="" style="cursor: pointer;">
					<div class="card-body no-pointer">
						<div class="h5">قسم الحجامة</div>
						<div class="text-02">(4) جلسات</div>
					</div>
				</div>
			</div>
			-->
		</div>
	</div>
</div>

<script>

$(function()
{

var page_container = $('#allPatientMedicalAnalysisContainer');

var ERROR_BOX = page_container.find('#ERROR_BOX');
var deleteSelectedBTN = page_container.find('#deleteSelectedBTN');
var searchBTN = page_container.find('#searchBTN');
var searchInput = page_container.find('#searchInput');
var date_start_input = page_container.find('#date_start_input');
var date_end_input = page_container.find('#date_end_input');
var pagination = page_container.find('#pagination');
var tableElement1 = page_container.find('#tableElement1');

var tableElement5 = page_container.find('#tableElement5');

var contentsWrapper = page_container.find('#contentsWrapper');
var changedSettingsWrapper = page_container.find('#changedSettingsWrapper');
var backBTN = changedSettingsWrapper.find('#backBTN');

var BACK_TO_MAIN_UI_BTN = page_container.find('[data-role="BACK_TO_MAIN_UI_BTN"]');

var wrapper01 = page_container.find('#wrapper01');

var PrescObject = {
    prescriptionId: null,
    query: sessionData().query
}
// clear session data
sessionData(true)
date_start_input.val(CURRENT_DATE)
date_end_input.val(CURRENT_DATE)
searchInput.val( (PrescObject.query) ? PrescObject.query : '' );
// back to main ui
BACK_TO_MAIN_UI_BTN.off('click');
BACK_TO_MAIN_UI_BTN.on('click', e =>
{
    wrapper01.slideDown(200).siblings('.WRAPPER').slideUp(200);
});
// tableElement1 click
tableElement1.off('click');
tableElement1.on('click', async e =>
{
    var target = $(e.target);
    if ( target.data('role') == 'UPDATE' )
    {
        var parent = target.closest('[data-role="row"]')
        var id = parent.data('id');

        parent.addClass('disabled')
        var res = await PATIENT_MEDICAL_ANALYSIS_MODEL.show({
            id: id
        })
        parent.removeClass('disabled')
        if ( res.code == 404 ) return
        goToPage('create-patient-medical-analysis', res.data)
        
        //rebindEvents();
    }
    else if ( target.data('role') == 'PRINT' )
    {
        var parent = target.closest('[data-role="row"]')
        var id = parent.data('id');

        parent.addClass('disabled')
        var res = await PATIENT_MEDICAL_ANALYSIS_MODEL.show({
            id: id
        })
        parent.removeClass('disabled')
        if ( res.code == 404 ) return
        
        var data = res.data
        // append print template
        var medical_analysis_print = createFakeElement('FAKE_CONTAINER', await (getPage('../views/prints/medical-analysis-page.ejs')) )
                                        .find('.medical-analysis-print')

        var analysis_list = medical_analysis_print.find('#analysis_list')

        medical_analysis_print.find('#presc_date').text(CURRENT_DATE) 
        medical_analysis_print.find('#patient_first').text( data.patient.patientName ) 
        medical_analysis_print.find('#patient_age').text( data.patient.patientAge ) 
        medical_analysis_print.find('#patient_age').text( data.patient.patientAge ) 
        medical_analysis_print.find('#center_stamp').attr('src', USER_CONFIG.administration.clinicStamp)
        // append analysis
        var html = ''
        for (let i = 0; i < data.analysis.length; i++) 
        {
            const category = data.analysis[i];
            
            html += `<div class="col-md-4" id="category_${category.id}">
                        <h6 class="medical-analysis-category-name">${category.name}</h6> `
            for (let j = 0; j < category.items.length; j++) 
            {
                const item = category.items[j];
                
                html += `<p id="item_${item.id}" class="medical-analysis-name">${item.name}</p>`
            }

            html += `</div>`
        }

        analysis_list.html(html)
        
        printHTMLToPdf( medical_analysis_print[0].outerHTML, {
            width: 0,
            height: 0,
            top: 10000,
            left: 10000,
            page: {
                size: 'A5 portrait',
                margin: '-1cm 0cm 0cm -1cm' 
            }
        } )
    }
});
// delete selected
deleteSelectedBTN.on('click', e =>
{
    PromptConfirmDialog().then(c =>
    {
        SectionLoader(wrapper01);
        PATIENT_MEDICAL_ANALYSIS_MODEL.batchDelete( {
            list: getSelectedRows()
        } ).then(response =>
        {
            // hide loader
            SectionLoader(wrapper01, '');
            if ( response.code == 404 )
            {
                ERROR_BOX.show(0).delay(7*1000).hide(0)
                .find('#text').text(response.message);
                return;
            }
            ERROR_BOX.show(0).delay(7*1000).hide(0)
            .find('#text').text(response.message);
            //
            displayAll();
        });
    });
})
// search
searchBTN.on('click', e =>
{
    displayAll()
})
searchInput.off('keyup');
searchInput.on('keyup', async e =>
{
    var SearchObject = {
        clinicId: USER_CONFIG.administration.clinicId,
        query: searchInput.val(),
        advanced: {
            start: date_start_input.val(),
            end: date_end_input.val()
        }
    };

    // display loader
    SectionLoader(wrapper01);
    var response = await PATIENT_MEDICAL_ANALYSIS_MODEL.searchLocal(SearchObject)
    
    // hide loader
    SectionLoader(wrapper01, '');
    // clear html
    tableElement1.html('');
    if ( response.code == 404 )
        return;

    var data = response.data;
    var html = '';
    $.each(data, (k,v) =>
    {
        if ( FUI_DISPLAY_LANG.lang == 'ar' )
        {
            html+= `<div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="card hover-shadow" data-role="row" data-id="${v.id}" style="cursor: pointer;">
                            <div class="pt-2 px-2">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" data-role="CHECK" value="" id="flexCheckDefault_${v.id}">
                                    <label class="form-check-label" for="flexCheckDefault_${v.id}">
                                        قم بالتحديد
                                    </label>
                                </div>
                            </div>
                            <div class="card-body no-pointer">
                                <div class="h5">حررت من طرف: ${v.employee.employee_name}</div>
                                <span class="text-02">ل:  ${v.patientName}</span>
                                <div class="text-muted mt-2">في: ${v.created_at_date} | ${v.created_at_time}</div>
                            </div>
                            <div class="py-2 px-2">
                                <a class="d-inline-block mx-2 text-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    المزيد
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#" class="dropdown-item" data-role="PRINT" data-perm="print_patient_medical_analysis">${FUI_DISPLAY_LANG.views.pages.global.print_doc_button}</a>
                                    </li>
                                </ul>
                                <a href="#" class="d-inline-block text-dark" data-role="UPDATE" data-perm="update_patient_medical_analysis">
                                    <i class="fas fa-edit no-pointer"></i>
                                </a>
                            </div>
                        </div>
                    </div>PAG_SEP`;	
        }
        else if ( FUI_DISPLAY_LANG.lang == 'fr' )
        {
            html+= `<div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="card hover-shadow" data-role="row" data-id="${v.id}" style="cursor: pointer;">
                            <div class="pt-2 px-2">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" data-role="CHECK" value="" id="flexCheckDefault_${v.id}">
                                    <label class="form-check-label" for="flexCheckDefault_${v.id}">
                                        spécifier
                                    </label>
                                </div>
                            </div>
                            <div class="card-body no-pointer">
                                <div class="h5">Fait par: ${v.employee.employee_name}</div>
                                <span class="text-02">pour:  ${v.patientName}</span>
                                <div class="text-muted mt-2">dans: ${v.created_at_date} | ${v.created_at_time}</div>
                            </div>
                            <div class="py-2 px-2">
                                <a class="d-inline-block mx-2 text-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Plus
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#" class="dropdown-item" data-role="PRINT" data-perm="print_patient_medical_analysis">${FUI_DISPLAY_LANG.views.pages.global.print_doc_button}</a>
                                    </li>
                                </ul>
                                <a href="#" class="d-inline-block text-dark" data-role="UPDATE" data-perm="update_patient_medical_analysis">
                                    <i class="fas fa-edit no-pointer"></i>
                                </a>
                            </div>
                        </div>
                    </div>PAG_SEP`;	
        }
    });
    // add html
    var options = {
        data: html.split('PAG_SEP'),
        resultsPerPage: 9
    };
    new SmoothPagination(pagination, tableElement1, options);
});
// display all
displayAll();
function displayAll()
{
    searchInput.trigger('keyup');
}
// get selected
function getSelectedRows()
{
    var list = [];
    var items = tableElement1.find('[data-role="row"]');
    for (var i = 0; i < items.length; i++) 
    {
        var parent = $(items[i]);
        var check = parent.find('[data-role="CHECK"]')
        if ( check.is(':checked') )
            list.push({ id: parent.data('id') });
    }

    return list;
}

})

</script>