<div class="container-fluid" id="create_patient_data_container">
	<div class="wrapper d-none">
		<h1 class="title-medium"><%= UI_DISPLAY_LANG.views.pages.all_patients.sectionTitle %></h1>
	</div>

	<div class="alert alert-info mt-3 mb-2" style="display:none;" id="ERROR_BOX">
		<img src="assets/img/utils/info.png" class="alert-icon" alt="">
		<div class="alert-text" id="text"></div>
	</div>

	<div class="mt-3 WRAPPER">
		
		<h4 class="display-6 mb-5">
			<span id="patient_name_heading"></span>
			<span>
				<a href="#" data-role="view_patient_medical_data" class="fw-400 fs-16 pointer"><%= UI_DISPLAY_LANG.views.pages.global.view_more_data %></a>
			</span>
		</h4>

		<div class="accordion accordion-01" id="patientSettingsAccordion">

			<div class="accordion-item" id="item2" data-perm="create_patient_weights_info">
				<h2 class="accordion-header" id="headingSeven">
					<button class="accordion-button" style="background: transparent;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
						
						<%= UI_DISPLAY_LANG.views.pages.all_patients.btn08 %>
					</button>
				</h2>
				<div id="collapseSeven" class="accordion-collapse collapse show" aria-labelledby="headingSeven" data-bs-parent="#patientSettingsAccordion">
					<div class="accordion-body">

						<div class="row mb-5">

							<div class="col-lg col-md">

								<form action="#" id="moreInfoForm2">
									<div class="mb-2">
										<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.all_patients.form03.label01 %></label>
										<input type="text" step="any" class="input-text input-text-outline" id="weightInput">
									</div>
									<div class="mb-2">
										<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.all_patients.form03.label02 %></label>
										<input type="text" step="any" class="input-text input-text-outline" id="abdominalCircumferenceInput">
									</div>
									<div class="mb-2">
										<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.all_patients.form03.label03 %></label>
										<input type="text" step="any" class="input-text input-text-outline" id="chestCircumferenceInput">
									</div>
									<div class="mb-2">
										<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.all_patients.form03.label04 %></label>
										<input type="text" step="any" class="input-text input-text-outline" id="ArmsCircumferenceInput">
									</div>
									<div class="mb-2">
										<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.all_patients.form01.label05 %></label>
										<input type="date" class="input-text input-text-outline" id="infoDateInput2" value="">
									</div>
									<div class="mb-2">
										<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.all_patients.form01.label06 %></label>
										<input type="time" step="any" class="input-text input-text-outline" id="infoTimeInput2" value="">
									</div>
									<div class="mb-2 row">
										<div class="col">
		
											<div class="mb-2">
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value="" id="is_file_croppable_check2">
													<label class="form-check-label" for="is_file_croppable_check2">
														<%= UI_DISPLAY_LANG.views.pages.global.label91 %>
													</label>
												</div>
											</div>
		
											<div class="">
												<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.all_patients.form01.label07 %></label>
												<input type="file" class="input-text" id="fileInput2" accept="image/*,application/pdf, .ppt, .pptx">	
											</div>
											<div class="d-none">
												<div class="progress">
													<div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">0%</div>
												</div>
											</div>
		
										</div>
										<div class="col">
											<img src="../assets/img/utils/placeholder.jpg" alt="" class="img-fluid img-thumbnail d-none" id="preview_image2">
										</div>
									</div>
		
									<div>
										<input type="submit" class="btn btn-primary btn-sm" value="<%= UI_DISPLAY_LANG.views.pages.all_patients.form01.submitBTN01 %>">
									</div>
								</form>

							</div>

							<div class="col-lg col-md js_selectable_items_wrapper d-none overflow-x-hidden overflow-y-auto max-height-500px"></div>

						</div>

						<div class="row gx-4 gy-4">

                            <div class="col-lg-2 col-md-6">

                                <div class="images-carousel-trigger" data-target="#weight_images_carousel" data-for="weight">
                            
                                    <div class="mb-2">
                                        <a href="#" id="button"><%= UI_DISPLAY_LANG.views.pages.global.text1 %></a>
                                    </div>
        
                                    <div style="display:none;">
                                        <input type="text" id="total_pages" min="1" step="1" class="input-text input-text-outline">
                                    </div>
        
                                </div>

                            </div>

                        </div>

						<div id="weights_pagination" class="my-3 flex flex-center"></div>
						<div class="utable shadowed" id="weights_tableElement">
							<div class="thead">
								<div class="td"><%= UI_DISPLAY_LANG.views.pages.all_patients.th04 %></div>
								<div class="td"><%= UI_DISPLAY_LANG.views.pages.all_patients.th02 %></div>
								<div class="td"></div>
								<div class="td"></div>
							</div>
							<div class="tbody">
								<!--
								<div class="tr">
									<div class="td">15</div>
									<div class="td">2022-06-24 | 03:54:43</div>
									<div class="td pointer">
										<button class="btn btn-danger btn-sm" data-role="DELETE" data-id="">
											<span class="no-pointer">
												<i class="fas fa-trash"></i>
											</span>
										</button>
									</div>
								</div>
								-->
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="accordion-item" id="item1" data-perm="create_patient_chronic_diseases_info">
				<h2 class="accordion-header" id="headingFive">
					<button class="accordion-button" style="background: transparent;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
						
						<%= UI_DISPLAY_LANG.views.pages.all_patients.btn06 %>
					</button>
				</h2>
				<div id="collapseFive" class="accordion-collapse collapse " aria-labelledby="headingFive" data-bs-parent="#patientSettingsAccordion" >
					<div class="accordion-body">
						<form action="#" id="moreInfoForm">
							<div class="mb-2">
								<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.all_patients.form01.label01 %></label>
								<select name="" class="input-text my-2" id="bloodPressureSelect">
									<option value="2">
										<%= UI_DISPLAY_LANG.views.pages.add_patients.form01.select03.option01 %>
									</option>
									<option value="1" selected>
										<%= UI_DISPLAY_LANG.views.pages.add_patients.form01.select03.option02 %>
									</option>
								</select>
								<input type="text" step="any" class="input-text input-text-outline disabled" id="bloodPressureInput">
							</div>
							<div class="mb-2">
								<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.all_patients.form01.label02 %></label>
								<select name="" class="input-text my-2" id="diabetesSelect">
									<option value="2">
										<%= UI_DISPLAY_LANG.views.pages.add_patients.form01.select02.option01 %>
									</option>
									<option value="1" selected>
										<%= UI_DISPLAY_LANG.views.pages.add_patients.form01.select02.option02 %>
									</option>
								</select>
								<input type="text" step="any" class="input-text input-text-outline disabled" id="diabetesInput">
							</div>
							<div class="mb-2">
								<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.all_patients.form01.label08 %></label>
								<input type="text" step="any" class="input-text input-text-outline" id="insulinInput">
							</div>
							<div class="mb-2">
								<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.all_patients.form01.label09 %></label>
								<input type="text" step="any" class="input-text input-text-outline" id="TSHInput">
							</div>
							<div class="mb-2">
								<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.all_patients.form01.label10 %></label>
								<input type="text" step="any" class="input-text input-text-outline" id="HBA1cInput">
							</div>
							<div class="mb-2">
								<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.all_patients.form01.label11 %></label>
								<input type="text" step="any" class="input-text input-text-outline" id="VSInput">
							</div>
							<div class="mb-2">
								<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.all_patients.form01.label12 %></label>
								<input type="text" step="any" class="input-text input-text-outline" id="CRPInput">
							</div>
							<div class="mb-2">
								<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.all_patients.form01.label05 %></label>
								<input type="date" class="input-text input-text-outline" id="infoDateInput" value="">
							</div>
							<div class="mb-2">
								<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.all_patients.form01.label06 %></label>
								<input type="time" step="any" class="input-text input-text-outline" id="infoTimeInput" value="">
							</div>
							<div class="row mb-2">
								<div class="col">

									<div class="mb-2">
										<div class="form-check">
											<input class="form-check-input" type="checkbox" value="" id="is_file_croppable_check">
											<label class="form-check-label" for="is_file_croppable_check">
												<%= UI_DISPLAY_LANG.views.pages.global.label91 %>
											</label>
										</div>
									</div>

									<div class="">
										<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.all_patients.form01.label07 %></label>
										<input type="file" class="input-text" id="fileInput" accept="image/*,application/pdf">	
									</div>

								</div>
								
								<div class="col">
									<img src="../assets/img/utils/placeholder.jpg" alt="" class="img-fluid img-thumbnail d-none" id="preview_image">
								</div>
							</div>
							<div>
								<input type="submit" class="btn btn-primary btn-sm" value="<%= UI_DISPLAY_LANG.views.pages.all_patients.form01.submitBTN01 %>">
							</div>
						</form>
					</div>
				</div>
			</div>
			
			<div class="accordion-item" id="item3" data-perm="create_patient_medical_tests_info">
				<h2 class="accordion-header" id="headingEleven">
					<button class="accordion-button" style="background: transparent;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
						
						<%= UI_DISPLAY_LANG.views.pages.all_patients.btn16 %>
					</button>
				</h2>
				<div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven" data-bs-parent="#patientSettingsAccordion">
					<div class="accordion-body">
						<form action="#" id="moreInfoForm3">
							<div class="mb-2">
								<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.all_patients.form01.label05 %></label>
								<input type="date" class="input-text input-text-outline" id="infoDateInput3" value="">
							</div>
							<div class="mb-2">
								<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.all_patients.form01.label06 %></label>
								<input type="time" step="any" class="input-text input-text-outline" id="infoTimeInput3" value="">
							</div>
							<div class="mb-2">
								<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.all_patients.form04.label01 %></label>
								<input type="file" class="input-text" id="fileInput3" multiple accept="image/*">
							</div>
							<div>
								<input type="submit" class="btn btn-primary btn-sm" value="<%= UI_DISPLAY_LANG.views.pages.all_patients.form04.submitBTN01 %>">
							</div>
						</form>
					</div>
				</div>
			</div>

			<div class="accordion-item" id="item4" data-perm="create_patient_images">
				<h2 class="accordion-header" id="headingTwelve">
					<button class="accordion-button" style="background: transparent;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
						
						<%= UI_DISPLAY_LANG.views.pages.all_patients.btn18 %>
					</button>
				</h2>
				<div id="collapseTwelve" class="accordion-collapse collapse" aria-labelledby="headingTwelve" data-bs-parent="#patientSettingsAccordion">
					<div class="accordion-body">
						<form action="#" id="moreInfoForm4">
							<div class="mb-2">
								<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.all_patients.form01.label05 %></label>
								<input type="date" class="input-text input-text-outline" id="infoDateInput4" value="">
							</div>
							<div class="mb-2">
								<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.all_patients.form01.label06 %></label>
								<input type="time" step="any" class="input-text input-text-outline" id="infoTimeInput4" value="">
							</div>
							<div class="mb-2">
								<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.all_patients.form04.label01 %></label>
								<input type="file" class="input-text" id="fileInput4" multiple accept="image/*">
							</div>
							<div>
								<input type="submit" class="btn btn-primary btn-sm" value="<%= UI_DISPLAY_LANG.views.pages.all_patients.form04.submitBTN01 %>">
							</div>
						</form>
					</div>
				</div>
			</div>

		</div>

	</div>

</div>

<script>

$(function()
{
	
var page_container = $('#create_patient_data_container')
if ( !page_container[0] ) return

var ERROR_BOX = page_container.find('#ERROR_BOX');
var patient_name_heading = page_container.find('#patient_name_heading')
var view_patient_medical_data = page_container.find('[data-role="view_patient_medical_data"]')

var js_selectable_items_wrapper = page_container.find('.js_selectable_items_wrapper')

var PatientObject = sessionData(true)
PatientObject['patient_docs'] = []
PatientObject['patient_doc'] = {
	url: '',
	extension: null,
}
// display name
patient_name_heading.text(PatientObject.patientName)
// view_patient_medical_data
view_patient_medical_data.on('click', e =>
{
	e.preventDefault()

	goToPage('all-patient-medical-data', PatientObject)
})
//
// init carousel triggers
const DEFAULT_CAROUSEL_TOTAL_PAGES = 7
$('.images-carousel-trigger').each((k,v) =>
{
    var trigger = $(v)
    var trigger_button = trigger.find('#button')
    var total_pages_input = trigger.find('#total_pages')
    var _for = trigger.data('for') 

    trigger_button.off('mouseenter').on('mouseenter', e =>
    {
        e.preventDefault()

        total_pages_input.parent().slideDown(200)
    })

    trigger.off('mouseleave').on('mouseleave', e =>
    {
        total_pages_input.parent().slideUp(200)
    })

    trigger_button.off('click').on('click', async e =>
    {

        var res = await PATIENT_MODEL.changedSettings({
            patientId: PatientObject.patientId,
            column: _for
        })
        
        if (res.code == 404) return

        var data = res.data
        var printable_page_html_list = []
        var total_pages = (total_pages_input.val() == '') ? DEFAULT_CAROUSEL_TOTAL_PAGES : total_pages_input.val()

        var images = []
        // extract images
        $.each(data, (k,v) =>
        {
            var url = null

            if ( !v.doc ) return

            images.push({
                url: v.doc.url,
                timestamp: v.infoDate +' '+ v.infoTime
            })
        })
        // create printable page with the extracted images
        var html = ''
        console.log(PatientObject)
        var printable_page = createFakeElement('FAKE_CONTAINER', await (getPage('../views/prints/weight-images-report-page.ejs')) ).find('.weights-images-report-print')

        var pcount = 1
        for (let i = 0; i < images.length; i++) 
        {
            const image = images[i];

            html += `<li>
                        <div class="mb-2 fw-600">${image.timestamp}</div>
                        <div class="">
                            <img src="${image.url}" class="pointer cursor-pointer" data-role="weight_image" alt="">
                        </div>
                    </li>`
            if ( pcount == total_pages || i == images.length-1 )
            {
                printable_page.css('margin', '0 auto')
                printable_page.find('#weight_images_list').html(html)
                printable_page.find('#header_code').html(PatientObject.patientCode)
                printable_page.find('#header_bb').html(PatientObject.patientName)
                printable_page.find('#header_date').html(CURRENT_DATE)
                printable_page_html_list.push( printable_page[0].outerHTML )
                html = ''
                pcount = 0
            }

            pcount++
        }

        // append pages to carousel and display
        var html = ''
        for (let i = 0; i < printable_page_html_list.length; i++) 
        {
            const page_html = printable_page_html_list[i];
            if ( i == 0 )
            {
                html += `<div class="carousel-item active">

                            <div class="mt-5 has-text-centered">
                                <a href="#" class="print-button">${FUI_DISPLAY_LANG.views.pages.global.text2}</a>    
                            </div>
                            
                            ${page_html} 
      
                        </div>`
            }
            else
            {
                html += `<div class="carousel-item">

                            <div class="mt-5 has-text-centered">
                                <a href="#" class="print-button">${FUI_DISPLAY_LANG.views.pages.global.text2}</a>    
                            </div>
                            
                            ${page_html} 
      
                        </div>`
            }
        }

        var carousel_html = `<div id="weight_images_carousel" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    ${html}
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#weight_images_carousel" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#weight_images_carousel" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>`

        FullpageDialog({
            container: 'weight_carousel_dialog',
            html: carousel_html
        })
        // 
        var weight_images_carousel = $('#weight_images_carousel')
        // print on button click
        weight_images_carousel.find('.print-button').each((k,v) =>
        {
            var print_button = $(v)

            print_button.off('click').on('click', e =>
            {
                e.preventDefault()
                var carousel_item = print_button.closest('.carousel-item')
                var printable_page = carousel_item.find('.weights-images-report-print')
                printable_page.removeClass('is-preview')
                var html = printable_page[0].outerHTML
                printHTMLToPdf(html, {
                    top: 10000,
                    left: 10000,
                    page: {
                        size: `A4 landscape`,
                        margin: '-1cm -1cm -1cm -1cm' 
                    }
                })
                printable_page.addClass('is-preview')
            })
            
        })
        // interract with images
        weight_images_carousel.off('click').on('click', e =>
        {
            var target = $(e.target)
            if ( target.data('role') == 'weight_image' )
            {
                var currentImage = target.attr('src')
                var images = $.map( weight_images_carousel.find('[data-role="weight_image"]'), (element, k)  => {
                    const img = $(element)
                    return img.attr('src')
                })
                // add current image to start of array
                images.unshift(currentImage)
                
                CreateImageSliderDialog({
                    images
                })
            }
        })
    })

    total_pages_input.off('keydown').on('keydown', e =>
    {
        if ( e.key == "Enter" )
        {
            trigger_button.trigger('click')
        }
    })
})
// add changed settings
// save more info
var moreInfoForm = page_container.find('#moreInfoForm');
var bloodPressureInput = moreInfoForm.find('#bloodPressureInput');
var diabetesInput = moreInfoForm.find('#diabetesInput');
var insulinInput = moreInfoForm.find('#insulinInput');
var TSHInput = moreInfoForm.find('#TSHInput');
var HBA1cInput = moreInfoForm.find('#HBA1cInput');
var VSInput = moreInfoForm.find('#VSInput');
var CRPInput = moreInfoForm.find('#CRPInput');
var abdominalInput = moreInfoForm.find('#abdominalInput');
var infoDateInput = moreInfoForm.find('#infoDateInput');
var infoTimeInput = moreInfoForm.find('#infoTimeInput');
var fileInput = moreInfoForm.find('#fileInput');
var is_file_croppable_check = moreInfoForm.find('#is_file_croppable_check');
var preview_image = moreInfoForm.find('#preview_image');

var bloodPressureSelect = moreInfoForm.find('#bloodPressureSelect');
var diabetesSelect = moreInfoForm.find('#diabetesSelect');

var now = new Date();
// set current date/time in input
infoDateInput.val(CURRENT_DATE);
infoTimeInput.val(CURRENT_TIME);
// moreInfoForm submt
moreInfoForm.off('submit');
moreInfoForm.on('submit', async e =>
{
    e.preventDefault();
    var target = moreInfoForm;
    PatientObject.blood_pressure = bloodPressureInput.val();
    PatientObject.diabetes = diabetesInput.val();
    PatientObject.insulin = insulinInput.val();
    PatientObject.TSH = TSHInput.val();
    PatientObject.HBA1c = HBA1cInput.val();
    PatientObject.VS = VSInput.val();
    PatientObject.CRP = CRPInput.val();
    PatientObject.infoDate = infoDateInput.val();
    PatientObject.infoTime = infoTimeInput.val();
    // if ( fileInput[0].files.length > 0 )
    //     PatientObject.patient_doc = fileInput[0].files[0];
    // display loader
    SectionLoader(moreInfoForm);
    var response = await PATIENT_MODEL.storeChangedSetting(PatientObject)
    // hide loader
	SectionLoader(moreInfoForm, '');
	CreateToast('PS', response.message, '')
	if ( response.code == 404 )
	{
		ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text')
		.text(response.message);
		return;
	}
	ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text')
	.text(response.message);
	// reset
	target.find('input[type="number"], input[type="text"]').val('');
	preview_image.attr('src', '').removeClass('d-none')
});
// fileInput
fileInput.on('change', async e => 
{
	if ( fileInput[0].files.length == 0 ) return

	var file = fileInput[0].files[0]
	var dataURL = await imageToDataURL(file)
	PatientObject.patient_doc.url = dataURL

	if ( !isImageFile(file.name) ) return

	var dataURL = await imageToDataURL(file)
	preview_image.attr('src', dataURL).removeClass('d-none')

	if ( !is_file_croppable_check.is(':checked') ) return

	ImageCropperDialog({
		url: dataURL,
		file: file,
		// maxSize : [testImg.width, testImg.height],
	}, async data =>
	{
		preview_image.attr('src', data.url).removeClass('d-none')
		PatientObject.patient_doc.url = data.file
	})

})
// change diabetes, blood pressure .... status
bloodPressureSelect.off('change');
bloodPressureSelect.on('change', e =>
{
    var val = bloodPressureSelect.find(':selected').val();

    if ( val == ST_NO )
        bloodPressureSelect.next().addClass('disabled').val('');
    else if ( val == ST_YES )
        bloodPressureSelect.next().removeClass('disabled').val('');
});
diabetesSelect.off('change');
diabetesSelect.on('change', e =>
{
    var val = diabetesSelect.find(':selected').val();

    if ( val == ST_NO )
        diabetesSelect.next().addClass('disabled').val('');
    else if ( val == ST_YES )
        diabetesSelect.next().removeClass('disabled').val('');
});
// save more info
var moreInfoForm2 = page_container.find('#moreInfoForm2');
var weightInput = moreInfoForm2.find('#weightInput');
var abdominalCircumferenceInput = moreInfoForm2.find('#abdominalCircumferenceInput');
var chestCircumferenceInput = moreInfoForm2.find('#chestCircumferenceInput');
var ArmsCircumferenceInput = moreInfoForm2.find('#ArmsCircumferenceInput');
var infoDateInput2 = moreInfoForm2.find('#infoDateInput2');
var infoTimeInput2 = moreInfoForm2.find('#infoTimeInput2');
var fileInput2 = moreInfoForm2.find('#fileInput2');
var is_file_croppable_check2 = moreInfoForm2.find('#is_file_croppable_check2');
var preview_image2 = moreInfoForm2.find('#preview_image2');
// set current date/time in input
moreInfoForm2.find('input[type="date"]').val(CURRENT_DATE);
moreInfoForm2.find('input[type="time"]').val(CURRENT_TIME);
// moreInfoForm submt
moreInfoForm2.off('submit');
moreInfoForm2.on('submit', async e =>
{
    e.preventDefault();
    var target = moreInfoForm2;
    PatientObject.weight = weightInput.val();
    PatientObject.abdominal_circumference = abdominalCircumferenceInput.val();
    PatientObject.chest_circumference = chestCircumferenceInput.val();
    PatientObject.arms_circumference = ArmsCircumferenceInput.val();
    PatientObject.infoDate = infoDateInput2.val();
    PatientObject.infoTime = infoTimeInput2.val();

	// display loader
	SectionLoader(moreInfoForm2);
	// get selected pptx converted images
	var items = js_selectable_items_wrapper.find('[data-role="weight_image"]')
	for (let i = 0; i < items.length; i++) 
	{
		const image = page_container.find(items[i])
		const check = image.find('input[type="checkbox"]')

		if ( check.is(':checked') )
		{
			PatientObject.patient_docs.push(image.data('url'))
		}

	}
	// check if multiple files selected
	if ( PatientObject.patient_docs.length > 0 )
	{
		for (let i = 0; i < PatientObject.patient_docs.length; i++) 
		{
			PatientObject.patient_doc.url = PatientObject.patient_docs[i]
			PatientObject.patient_doc.extension = 'jpg'

			var response = await PATIENT_MODEL.storeChangedSetting(PatientObject)
			ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text')
			.text(response.message);
			if ( response.code == 404 ) return
			
		}
		// hide loader
		SectionLoader(moreInfoForm2, '');
		js_selectable_items_wrapper.html('').addClass('d-none')
		// reset
		target.find('input[type="number"], input[type="text"], input[type="file"]').val('');
		PatientObject.patient_doc = {}
		// moreInfoForm2[0].reset()
		displayWeight()
		return
	}

    var response = await PATIENT_MODEL.storeChangedSetting(PatientObject)
    
	// hide loader
	SectionLoader(moreInfoForm2, '');
	ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text')
	.text(response.message);
	CreateToast('PS', response.message, '')
	if ( response.code == 404 ) return

	// reset
	preview_image2.attr('src', '').removeClass('d-none')
	target.find('input[type="number"], input[type="text"], input[type="file"]').val('');
	PatientObject.patient_doc = {}
	// moreInfoForm2[0].reset()
	displayWeight()
  
});
//fileInput2
fileInput2.on('change', async e => 
{
	if ( fileInput2[0].files.length == 0 ) return

	var file = fileInput2[0].files[0]
	var dataURL = await imageToDataURL(file)
	PatientObject.patient_doc.url = dataURL

	if ( isMSPowerPointFile(file.name) )
	{
		PatientObject.patient_doc = {}
		SectionLoader(fileInput2.parent())

		convertPptToImage(file, async (error, data, response) =>
		{
			SectionLoader(fileInput2.parent(), '')
			console.log(data)
			if ( error ) 
			{
				console.error(error)
				return
			}
			var html = ''
			js_selectable_items_wrapper.removeClass('d-none').html('')
			for (let i = 0; i < data.PngResultPages.length; i++) 
			{
				const image = data.PngResultPages[i];
				const uniqueName = uniqid()+'.png'

				const file = await urlToFile(image.URL, {
					file: {
						name: uniqueName,
					}
				})

				const imgDataUrl = await imageToDataURL(file)

				html += `<div class="mb-2" data-role="weight_image" data-url="${imgDataUrl}" data-name="${uniqueName}">
							<div class="mb-2">
								<input class="form-check-input pointer" type="checkbox" value="">
							</div>
							<div class="">
								<img src="${imgDataUrl}" class="max-height-200px img-thumbnail js_img_previewable" data-croppable="true">
							</div>
						</div>`
				// append to js_selectable_items_wrapper
				js_selectable_items_wrapper.append(html)
				html = ''
				dispatch_onNewAjaxContentLoaded()
			}
		})
		
		return
	}
	
	if ( !isImageFile(file.name) ) return

	
	preview_image2.attr('src', dataURL).removeClass('d-none')

	if ( !is_file_croppable_check2.is(':checked') ) return

	ImageCropperDialog({
		url: dataURL,
		file: file,
		// maxSize : [testImg.width, testImg.height],
	}, async data =>
	{
		preview_image2.attr('src', data.url).removeClass('d-none')
		PatientObject.patient_doc.url = data.url
	})
})
// medical tests
var moreInfoForm3 = page_container.find('#moreInfoForm3');
var infoDateInput3 = moreInfoForm3.find('#infoDateInput3');
var infoTimeInput3 = moreInfoForm3.find('#infoTimeInput3');
var fileInput3 = moreInfoForm3.find('#fileInput3');

infoDateInput3.val(CURRENT_DATE);
infoTimeInput3.val(CURRENT_TIME);
moreInfoForm3.off('submit');
moreInfoForm3.on('submit', async e =>
{
    e.preventDefault();
    var target = moreInfoForm3;
    if ( fileInput3[0].files.length == 0 )
        return;
    
    // PatientObject.clinicId = USER_CONFIG.administration.clinicId;
    PatientObject.created_at_date = infoDateInput3.val();
    PatientObject.created_at_time = infoTimeInput3.val();
    var images = fileInput3[0].files;
    // display loader
    SectionLoader(target);
    var response = await PATIENT_MODEL.medicalTest_store(PatientObject, images);
    // hide loader
    SectionLoader(target, '');
	CreateToast('PS', response.message, '')
    if ( response.code == 404 )
    {
        ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text')
        .text(response.message);
        return;
    }
    ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text')
    .text(response.message);
    // reset
    target.find('input[type="number"], input[type="text"]').val('');
});
// patient photos
var moreInfoForm4 = page_container.find('#moreInfoForm4');
var infoDateInput4 = moreInfoForm4.find('#infoDateInput4');
var infoTimeInput4 = moreInfoForm4.find('#infoTimeInput4');
var fileInput4 = moreInfoForm4.find('#fileInput4');

infoDateInput4.val(CURRENT_DATE);
infoTimeInput4.val(CURRENT_TIME);
moreInfoForm4.off('submit');
moreInfoForm4.on('submit', async e =>
{
    e.preventDefault();
    var target = moreInfoForm4;
    if ( fileInput4[0].files.length == 0 )
        return;
    
    // PatientObject.clinicId = USER_CONFIG.administration.clinicId;
    PatientObject.created_at_date = infoDateInput4.val();
    PatientObject.created_at_time = infoTimeInput4.val();
    var images = fileInput4[0].files;
    // display loader
    SectionLoader(target);
    var response = await PATIENT_MODEL.album_store(PatientObject, images);
    // hide loader
    SectionLoader(target, '');
	CreateToast('PS', response.message, '')
    if ( response.code == 404 )
    {
        ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text')
        .text(response.message);
        return;
    }
    ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text')
    .text(response.message);
    // reset
    target.find('input[type="number"], input[type="text"]').val('');
});

// display weight
displayWeight()
async function displayWeight()
{
	var weights_pagination = page_container.find('#weights_pagination');
    var weights_tableElement = page_container.find('#weights_tableElement');

    // tableElement click
    weights_tableElement.off('click');
    weights_tableElement.on('click', e =>
    {
        var target = $(e.target);
        if ( target.data('role') == 'DELETE' )
        {
            PromptConfirmDialog().then(c =>
            {
                // display loader
                SectionLoader(weights_tableElement);
                PATIENT_MODEL.deleteChangedSetting({
                    id: target.data('id'),
                    column: 'weight'
                }).then(response =>
                {
                    // hide loader
                    SectionLoader(weights_tableElement, '');
                    if ( response.code == 404 )	
                    {
                        ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(response.message);
                        return;
                    }
                    ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(response.message);
                    // 
                    displayWeight();
                });
            });
        }
        else if ( target.data('role') == 'PREVIEW_DOC' )
        {
            e.preventDefault();
            PreviewFileDialog({
                url: target.attr('href')
            });
        }
    });
	// 
	// clear html
	weights_tableElement.find('.tbody').html('');
	SectionLoader(weights_tableElement);
	var response = await PATIENT_MODEL.changedSettings({
		patientId: PatientObject.patientId,
		column: 'weight'
	})

	// hide loader
	SectionLoader(weights_tableElement, '');
	if ( response.code == 404 ) return;

	var data = response.data;
	var html = '';
	$.each(data, (k,v) =>
	{
		var doc_url = (v.doc) ? v.doc.url : ''
		var patient_doc_link = (doc_url != '') ? `<a href="${doc_url}" data-role="DOWNLOAD_FILE" download="${path.basename(doc_url)}">تحميل الملف</a>` : '';
		var preview_doc_link = (doc_url != '') ? `<a href="${doc_url}" data-role="PREVIEW_DOC">فتح الملف للمعاينة</a>` : '';
		var print_doc_link = ''

		if ( doc_url != '' )
		{
			print_doc_link = ( isImageFile(doc_url) != '') ? `<a href="${doc_url}" data-role="PRINT_DOC" class="js_trigger_print_source_url_dialog">${FUI_DISPLAY_LANG.views.pages.global.print_}</a>` : '';
		}

		if ( FUI_DISPLAY_LANG.lang == 'fr' )
		{
			patient_doc_link = (doc_url) ? `<a href="${doc_url}" data-role="DOWNLOAD_FILE" download="${path.basename(doc_url)}">télécharger un fichier</a>` : '';
			preview_doc_link = (doc_url != '') ? `<a href="${doc_url}" data-role="PREVIEW_DOC">Ouvrir le fichier pour l'aperçu</a>` : '';
		}
		html += `<div class="tr">
					<div class="td">${v.weight}</div>
					<div class="td">${v.infoDate}|${v.infoTime}</div>
					<div class="td pointer">
						${patient_doc_link}
						<div>
							${preview_doc_link}
						</div>
						<div>
							${print_doc_link}    
						</div>
					</div>
					<div class="td pointer">
						<button class="btn btn-danger btn-sm" data-role="DELETE" data-id="${v.id}">
							<span class="no-pointer">
								<i class="fas fa-trash"></i>
							</span>
						</button>
					</div>
				</div>PAG_SEP`;
	});
	// add html
	var options = {
		data: html.split('PAG_SEP')
	};
	new SmoothPagination(weights_pagination, weights_tableElement.find('.tbody'), options);
}

})

</script>